---

kind: Service
apiVersion: v1
metadata:
  labels:
    app.kubernetes.io/name: django
    app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
    app.kubernetes.io/version: "{{ django_app_k8s_version }}"
    app.kubernetes.io/component: backend
    app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
    app.kubernetes.io/managed-by: Ansible
spec:
  selector:
    app.kubernetes.io/name: django
    app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
    app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
  ports:
  - protocol: TCP
    port: 8000
    targetPort: 8000
