---

# General Django settings
- name: DJANGO_SETTINGS_MODULE
  value: "{{ django_app_k8s_package_name }}.conf.docker"
- name: ALLOWED_HOSTS
  value: "{{ django_app_k8s_allowed_hosts | join(',') }}"
- name: SECRET_KEY
  valueFrom:
    secretKeyRef:
      name: {{ django_app_k8s_name_prefix }}-secrets
      key: SECRET_KEY

# Database settings
- name: DB_HOST
  value: "{{ django_app_k8s_db_host }}"
- name: DB_NAME
  value: "{{ django_app_k8s_db_name }}"
- name: DB_PORT
  value: "{{ django_app_k8s_db_port }}"
- name: DB_USER
  value: "{{ django_app_k8s_db_username }}"
- name: DB_PASSWORD
  valueFrom:
    secretKeyRef:
      name: {{ django_app_k8s_name_prefix }}-secrets
      key: DB_PASSWORD

{% for prefix, config in django_app_k8s_extra_dbs.items() %}
- name: "{{ prefix }}_DB_HOST"
  value: "{{ config.host }}"
- name: "{{ prefix }}_DB_NAME"
  value: "{{ config.name }}"
- name: "{{ prefix }}_DB_PORT"
  value: "{{ config.port|default(5432) }}"
- name: "{{ prefix }}_DB_USER"
  valueFrom:
    secretKeyRef:
      name: {{ django_app_k8s_name_prefix }}-secrets
      key: "{{ prefix }}_DB_USER"
- name: "{{ prefix }}_DB_PASSWORD"
  valueFrom:
    secretKeyRef:
      name: {{ django_app_k8s_name_prefix }}-secrets
      key: "{{ prefix }}_DB_PASSWORD"
{% endfor %}

# Caches
- name: CACHE_DEFAULT
  value: "{{ django_app_k8s_name_prefix }}-redis-master:6379/{{ django_app_k8s_cache_db }}"
- name: CACHE_AXES
  value: "{{ django_app_k8s_name_prefix }}-redis-master:6379/{{ django_app_k8s_cache_db }}"

{% for cache in django_app_k8s_extra_caches %}
- name: CACHE_{{ cache.name }}
  value: "{{ django_app_k8s_name_prefix }}-redis-master:6379/{{ cache.db | default(django_app_k8s_cache_db) }}"
{% endfor %}

{% if django_app_k8s_mail %}
- name: EMAIL_HOST
  value: "{{ django_app_k8s_mail_host }}"
- name: EMAIL_PORT
  value: "{{ django_app_k8s_mail_port }}"
- name: EMAIL_HOST_USER
  value: "{{ django_app_k8s_mail_user }}"
- name: EMAIL_HOST_PASSWORD
  value: "{{ django_app_k8s_mail_password }}"
- name: EMAIL_USE_TLS
  value: "{{ django_app_k8s_mail_use_tls }}"
- name: DEFAULT_FROM_EMAIL
  value: "{{ django_app_k8s_mail_default_from }}"
{% endif %}

{% if django_app_k8s_use_celery %}
# Celery broker
- name: CELERY_BROKER_URL
  valueFrom:
    secretKeyRef:
      name: {{ django_app_k8s_name_prefix }}-secrets
      key: CELERY_BROKER_URL
- name: CELERY_RESULT_BACKEND
  valueFrom:
    secretKeyRef:
      name: {{ django_app_k8s_name_prefix }}-secrets
      key: CELERY_RESULT_BACKEND
{% endif %}

{% if django_app_k8s_use_rabbitmq %}
- name: RABBITMQ_HOST
  value: "{{ django_app_k8s_rabbitmq.rabbitmq_host | default('app-rabbitmq') }}"
- name: RABBITMQ_PORT
  value: "{{ django_app_k8s_rabbitmq.rabbitmq_port | default('5672') }}"
{% endif %}

{% if django_app_k8s_sentry_dsn %}
- name: SENTRY_DSN
  valueFrom:
    secretKeyRef:
      name: {{ django_app_k8s_name_prefix }}-secrets
      key: SENTRY_DSN
{% endif %}

{% for name, value in django_app_k8s_extra_env.items() %}
- name: "{{ name }}"
  value: "{{ value }}"
{% endfor %}
