---

kind: Deployment
apiVersion: v1
metadata:
  labels:
    app.kubernetes.io/name: django
    app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
    app.kubernetes.io/version: "{{ django_app_k8s_version }}"
    app.kubernetes.io/component: backend
    app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
    app.kubernetes.io/managed-by: Ansible
spec:
  replicas: {{ django_app_k8s_replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: django
      app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
      app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
  template:
    metadata:
      name: {{ django_app_k8s_name_prefix }}
      labels:
        app.kubernetes.io/name: django
        app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
        app.kubernetes.io/version: "{{ django_app_k8s_version }}"
        app.kubernetes.io/component: backend
        app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
        app.kubernetes.io/managed-by: Ansible
    spec:

{% if django_app_k8s_pvc %}
      volumes:
        - name: storage
          persistentVolumeClaim:
            claimName: {{ django_app_k8s_name_prefix }}-storage
{% endif %}

      containers:
      - name: app
        image: {{ django_app_k8s_image }}
        imagePullPolicy: Always
        resources:
          requests:
            memory: "500Mi"
            cpu: "100m"
          limits:
            memory: "1Gi"
            cpu: "1000m"

        readinessProbe:
          httpGet:
            path: /
            port: 8000
            httpHeaders:
              - name: Host
                value: localhost
          initialDelaySeconds: 30
          periodSeconds: 30

        livenessProbe:
          httpGet:
            path: /
            port: 8000
            httpHeaders:
              - name: Host
                value: localhost
          initialDelaySeconds: 30
          periodSeconds: 30

{% if django_app_k8s_pvc %}
        volumeMounts: {{ django_app_k8s_app_volume_mounts }}
{% endif %}

        env: {{ django_app_k8s_app_env }}
