---

kind: Deployment
apiVersion: v1
metadata:
  labels:
    app.kubernetes.io/name: django
    app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
    app.kubernetes.io/version: "{{ django_app_k8s_version }}"
    app.kubernetes.io/component: backend
    app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
    app.kubernetes.io/managed-by: Ansible
spec:
  replicas: {{ django_app_k8s_replicas|default('1') }}
  selector:
    matchLabels:
      app.kubernetes.io/name: django
      app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
      app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
  template:
    metadata:
      name: {{ django_app_k8s_name_prefix }}
      labels:
        app.kubernetes.io/name: django
        app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
        app.kubernetes.io/version: "{{ django_app_k8s_version }}"
        app.kubernetes.io/component: backend
        app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
        app.kubernetes.io/managed-by: Ansible
{% for label in django_app_k8s_extra_app_labels %}
        {{ label }}: {{ django_app_k8s_extra_app_labels[label] }}
{% endfor %}        

    spec:

{% if django_app_k8s_pvc %}
      volumes:
        - name: storage
          persistentVolumeClaim:
            claimName: {{ django_app_k8s_name_prefix }}-storage
{% endif %}

{% if django_app_k8s_init_containers %}
      initContainers: {{ django_app_k8s_init_containers }}
{% endif %}

      containers:
      - name: app
        image: {{ django_app_k8s_image }}
        imagePullPolicy: Always
        resources:
          requests:
            memory: {{ django_app_k8s_resource_requests.memory|default('500Mi') }}
            cpu: {{ django_app_k8s_resource_requests.cpu|default('100m') }}
          limits:
            memory: {{ django_app_k8s_resource_limits.memory|default('1Gi') }}
            cpu: {{ django_app_k8s_resource_limits.cpu|default('1000m') }}

        readinessProbe: {{ django_app_k8s_healthcheck_probes.readiness }}
        livenessProbe: {{ django_app_k8s_healthcheck_probes.liveness }}

{% if django_app_k8s_pvc %}
        volumeMounts: {{ django_app_k8s_app_volume_mounts }}
{% endif %}

        env: {{ django_app_k8s_app_env }}

      serviceAccountName: "{{ django_app_k8s_service_account| default('default') }}"
      securityContext: {{ django_app_k8s_pod_security_context }}        
