---

kind: Deployment
apiVersion: v1
metadata:
  labels:
    app.kubernetes.io/name: celery-beat
    app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
    app.kubernetes.io/version: "{{ django_app_k8s_version }}"
    app.kubernetes.io/component: async-workers-cron
    app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
    app.kubernetes.io/managed-by: Ansible
spec:
  replicas: 1  # you can only have 1 beat instance running, otherwise tasks fire twice/thrice/...
  selector:
    matchLabels:
      app.kubernetes.io/name: celery-beat
      app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
      app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
  template:
    metadata:
      name: celery-beat
      labels:
        app.kubernetes.io/name: celery-beat
        app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
        app.kubernetes.io/version: "{{ django_app_k8s_version }}"
        app.kubernetes.io/component: async-workers-cron
        app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
        app.kubernetes.io/managed-by: Ansible
    spec:

{% if django_app_k8s_pvc %}
      volumes:
        - name: storage
          persistentVolumeClaim:
            claimName: {{ django_app_k8s_name_prefix }}-storage
{% endif %}

      containers:
      - name: celery-beat
        image: {{ django_app_k8s_image }}
        imagePullPolicy: Always
        resources:
          requests:
            memory: "500Mi"
            cpu: "100m"
          limits:
            memory: "1Gi"
            cpu: "500m"

        command: ["/celery_beat.sh"]

{% if django_app_k8s_pvc %}
        volumeMounts: {{ django_app_k8s_app_volume_mounts }}
{% endif %}

        env: {{ django_app_k8s_app_env }}
