---

# can't name flower - https://github.com/mher/flower/issues/738

kind: Deployment
apiVersion: v1
metadata:
  labels:
    app.kubernetes.io/name: {{ django_app_k8s_name_prefix }}-monitoring
    app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
    app.kubernetes.io/version: "latest"
    app.kubernetes.io/component: monitoring
    app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
    app.kubernetes.io/managed-by: Ansible
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ django_app_k8s_name_prefix }}-monitoring
      app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
      app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
  template:
    metadata:
      name: {{ django_app_k8s_name_prefix }}-monitoring
      labels:
        app.kubernetes.io/name: {{ django_app_k8s_name_prefix }}-monitoring
        app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
        app.kubernetes.io/version: "latest"
        app.kubernetes.io/component: monitoring
        app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
        app.kubernetes.io/managed-by: Ansible
{% for label in django_app_k8s_extra_flower_labels %}
        {{ label }}: {{ django_app_k8s_extra_flower_labels[label] }}
{% endfor %}
    spec:
      containers:
      - name: monitoring
        image: {{ django_app_k8s_image }}

        resources:
          requests:
            memory: {{ django_app_k8s_flower_resource_requests.memory|default('500Mi') }}
            cpu: {{ django_app_k8s_flower_resource_requests.cpu|default('100m') }}
          limits:
            memory: {{ django_app_k8s_flower_resource_limits.memory|default('1Gi') }}
            cpu: {{ django_app_k8s_flower_resource_limits.cpu|default('500m') }}

        command: ["/celery_flower.sh"]

        readinessProbe:
          tcpSocket: # use TCP check because of Basic Auth
            port: 5555
          initialDelaySeconds: 10
          periodSeconds: 30

        livenessProbe:
          tcpSocket:
            port: 5555
          initialDelaySeconds: 15
          periodSeconds: 30

        env:
          - name: FLOWER_URL_PREFIX
            value: _flower

          # General Django settings
          - name: DJANGO_SETTINGS_MODULE
            value: "{{ django_app_k8s_package_name }}.conf.docker"
          - name: ALLOWED_HOSTS
            value: "localhost,{{ django_app_k8s_domain }}"
          - name: SECRET_KEY
            valueFrom:
              secretKeyRef:
                name: {{ django_app_k8s_name_prefix }}-secrets
                key: SECRET_KEY

          # Database settings
          - name: DB_HOST
            value: "{{ django_app_k8s_db_host }}"
          - name: DB_NAME
            value: "{{ django_app_k8s_db_name }}"
          - name: DB_PORT
            value: "{{ django_app_k8s_db_port }}"
          - name: DB_USER
            value: "{{ django_app_k8s_db_username }}"
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ django_app_k8s_name_prefix }}-secrets
                key: DB_PASSWORD

          # Caches
          - name: CACHE_DEFAULT
            value: "{{ django_app_k8s_name_prefix }}-redis:6379/{{ django_app_k8s_cache_db }}"
          - name: CACHE_AXES
            value: "{{ django_app_k8s_name_prefix }}-redis:6379/{{ django_app_k8s_cache_db }}"

          # Celery broker
          - name: CELERY_BROKER_URL
            valueFrom:
              secretKeyRef:
                name: {{ django_app_k8s_name_prefix }}-secrets
                key: CELERY_BROKER_URL
          - name: CELERY_RESULT_BACKEND
            valueFrom:
              secretKeyRef:
                name: {{ django_app_k8s_name_prefix }}-secrets
                key: CELERY_RESULT_BACKEND
          - name: FLOWER_BASIC_AUTH
            valueFrom:
              secretKeyRef:
                name: {{ django_app_k8s_name_prefix }}-secrets
                key: FLOWER_BASIC_AUTH
      serviceAccountName: "{{ django_app_k8s_service_account| default('default') }}"
      securityContext: {{ django_app_k8s_pod_security_context }}
       