---

kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  labels:
    app.kubernetes.io/name: ingress
    app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
    app.kubernetes.io/version: "{{ django_app_k8s_version }}"
    app.kubernetes.io/component: backend
    app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
    app.kubernetes.io/managed-by: Ansible
  annotations: {{ django_app_k8s_ingress_annotations }}
spec:
{% if django_app_k8s_use_tls %}
  tls:
    - hosts:
      - "{{ django_app_k8s_domain }}"
      secretName: "{{ django_app_k8s_name_prefix }}-tls-secrets"
{% endif %}
  rules:
  - host: "{{ django_app_k8s_domain }}"
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
{% if django_app_k8s_add_nginx %}
            name: {{ django_app_k8s_name_prefix }}-nginx
            port:
              number: 8080
{% else %}
            name: {{ django_app_k8s_name_prefix }}
            port:
              number: 8000
{% endif %}

{% if django_app_k8s_use_celery and django_app_k8s_flower_ingress %}
      - path: /_flower/
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ django_app_k8s_name_prefix }}-monitoring
            port:
              number: 5555
{% endif %}

{% for extra_route in django_app_k8s_extra_ingress_paths %}
      - {{ extra_route }}
{% endfor %}
