---

kind: Deployment
apiVersion: v1
metadata:
  labels:
    app.kubernetes.io/name: "{{ django_app_k8s_name_prefix }}-nginx"
    app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
    app.kubernetes.io/version: "latest"
    app.kubernetes.io/component: webserver
    app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
    app.kubernetes.io/managed-by: Ansible
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: "{{ django_app_k8s_name_prefix }}-nginx"
      app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
      app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
  template:
    metadata:
      name: nginx
      labels:
        app.kubernetes.io/name: "{{ django_app_k8s_name_prefix }}-nginx"
        app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
        app.kubernetes.io/version: "latest"
        app.kubernetes.io/component: webserver
        app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
        app.kubernetes.io/managed-by: Ansible
{% for label in django_app_k8s_extra_nginx_labels %}
        {{ label }}: {{ django_app_k8s_extra_nginx_labels[label] }}
{% endfor %}
    spec:
      volumes:
{% if django_app_k8s_pvc %}
        - name: storage
          persistentVolumeClaim:
            claimName: {{ django_app_k8s_name_prefix }}-storage
{% endif %}
        - name: config
          configMap:
            name: {{ django_app_k8s_name_prefix }}-nginx
      containers:
      - name: nginx
        image: nginxinc/nginx-unprivileged:{{ django_app_k8s_nginx_version }}

        resources:
          requests:
            memory: {{ django_app_k8s_nginx_resource_requests.memory|default('100Mi') }}
            cpu: {{ django_app_k8s_nginx_resource_requests.cpu|default('100m') }}
          limits:
            memory: {{ django_app_k8s_nginx_resource_limits.memory|default('250Mi') }}
            cpu: {{ django_app_k8s_nginx_resource_limits.cpu|default('250m') }}

        readinessProbe:
          httpGet:
            port: 8080
            path: /
            httpHeaders:
              - name: Host
                value: localhost

        livenessProbe:
          httpGet:
            port: 8080
            path: /_health/

        volumeMounts:
          - name: config
            mountPath: /etc/nginx/conf.d/
{% if django_app_k8s_pvc %}
          - name: storage
            mountPath: /app/media
            subPath: {{ django_app_k8s_package_name }}/{{ django_app_k8s_instance }}/media
{% for subpath in django_app_k8s_extra_volume_mounts %}
          - name: storage
            mountPath: /app/{{ subpath }}
            subPath: {{ django_app_k8s_package_name }}/{{ django_app_k8s_instance }}/{{ subpath }}
{% endfor %}
{% endif %}            
      serviceAccountName: "{{ django_app_k8s_service_account| default('default') }}"
      securityContext: {{ django_app_k8s_pod_security_context }}