---

kind: Deployment
apiVersion: v1
metadata:
  labels:
    app.kubernetes.io/name: "{{ django_app_k8s_name_prefix }}-nginx"
    app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
    app.kubernetes.io/version: "latest"
    app.kubernetes.io/component: webserver
    app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
    app.kubernetes.io/managed-by: Ansible
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: "{{ django_app_k8s_name_prefix }}-nginx"
      app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
      app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
  template:
    metadata:
      name: nginx
      labels:
        app.kubernetes.io/name: "{{ django_app_k8s_name_prefix }}-nginx"
        app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
        app.kubernetes.io/version: "latest"
        app.kubernetes.io/component: webserver
        app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
        app.kubernetes.io/managed-by: Ansible
    spec:
      volumes:
        - name: config
          configMap:
            name: {{ django_app_k8s_name_prefix }}-nginx
      containers:
      - name: nginx
        image: harbor.dta.aks.utrechtproeftuin.nl/common-ground/library/nginx:latest

        resources:
          requests:
            memory: {{ django_app_k8s_nginx_resource_requests.memory|default('100Mi') }}
            cpu: {{ django_app_k8s_nginx_resource_requests.cpu|default('100m') }}
          limits:
            memory: {{ django_app_k8s_nginx_resource_limits.memory|default('250Mi') }}
            cpu: {{ django_app_k8s_nginx_resource_limits.cpu|default('250m') }}

        readinessProbe:
          httpGet:
            port: 80
            path: /
            httpHeaders:
              - name: Host
                value: localhost

        livenessProbe:
          httpGet:
            port: 80
            path: /_health/

        volumeMounts:
          - name: config
            mountPath: /etc/nginx/conf.d/
