---

kind: Service
apiVersion: v1
metadata:
  labels:
    app.kubernetes.io/name: rabbitmq
    app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
    app.kubernetes.io/version: "{{ django_app_k8s_rabbitmq_version }}"
    app.kubernetes.io/component: async-workers
    app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
    app.kubernetes.io/managed-by: Ansible
spec:
  selector:
    app.kubernetes.io/name: rabbitmq
    app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
    app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
  ports:
  - protocol: TCP
    port: 5672
    targetPort: 5672