---

kind: Service
apiVersion: v1
metadata:
  labels:
    app.kubernetes.io/name: {{ django_app_k8s_name_prefix }}-redis
    app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
    app.kubernetes.io/version: "5.0"
    app.kubernetes.io/component: redis
    app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
    app.kubernetes.io/managed-by: Ansible
spec:
  selector:
    app.kubernetes.io/name: {{ django_app_k8s_name_prefix }}-redis
    app.kubernetes.io/instance: "{{ django_app_k8s_instance }}"
    app.kubernetes.io/part-of: "{{ django_app_k8s_group }}"
  ports:
  - protocol: TCP
    port: 6379
    targetPort: 6379
