---

# Runtime secrets. Values are base64 encoded

kind: Secret
apiVersion: v1
type: Opaque
stringData:
  SECRET_KEY: "{{ django_app_k8s_secret_key }}"
  DB_PASSWORD: "{{ django_app_k8s_db_password }}"
{% if django_app_k8s_sentry_dsn %}  SENTRY_DSN: {{ django_app_k8s_sentry_dsn }}{% endif %}

{% if django_app_k8s_use_celery %}  CELERY_BROKER_URL: {{ django_app_k8s_celery_broker_url }}{% endif %}

{% if django_app_k8s_use_celery %}  CELERY_RESULT_BACKEND: {{ django_app_k8s_celery_result_backend }}{% endif %}

{% if django_app_k8s_use_celery %}  FLOWER_BASIC_AUTH: {{ django_app_k8s_flower_basic_auth }}{% endif %}

{% if django_app_k8s_use_rabbitmq %}  RABBITMQ_DEFAULT_USER: {{ django_app_k8s_rabbitmq.user }}{% endif %}

{% if django_app_k8s_use_rabbitmq %}  RABBITMQ_DEFAULT_PASS: {{ django_app_k8s_rabbitmq.password }}{% endif %}

{% for prefix, config in django_app_k8s_extra_dbs.items() %}
  {{ prefix }}_DB_USER: {{ config.username }}
  {{ prefix }}_DB_PASSWORD: {{ config.password }}
{% endfor %}
