---

{% if not django_app_k8s_pvc %}
[]
{% else %}
- name: storage
  mountPath: /app/media
  subPath: {{ django_app_k8s_package_name }}/{{ django_app_k8s_instance }}/media
{% for subpath in django_app_k8s_extra_volume_mounts %}
- name: storage
  mountPath: /app/{{ subpath }}
  subPath: {{ django_app_k8s_package_name }}/{{ django_app_k8s_instance }}/{{ subpath }}
{% endfor %}
{% endif %}
