issuer: https://{{ nlx_dex_domain }}
enablePasswordDB: true

storage:
  type: sqlite3
  config:
    file: /tmp/dex.db

web:
  http: 0.0.0.0:5556

staticClients:
  - id: {{ nlx_management_api_oidc_client_id }}
    name: 'NLX Management'
    secret: {{ nlx_management_api_oidc_secret }}
    redirectURIs:
      - {{ nlx_management_api_oidc_redirect_url }}

staticPasswords:
{{ nlx_dex_static_passwords | to_nice_yaml(indent=2) }}
