---

kind: Service
apiVersion: v1
metadata:
  labels: {{ _labels }}
spec:
  selector:
    app.kubernetes.io/name: dex
    app.kubernetes.io/part-of: nlx
  ports:
  - name: http
    protocol: TCP
    port: 5556
    targetPort: 5556
