---

apiVersion: v1
kind: Deployment
metadata:
  labels: {{ _labels }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: dex
      app.kubernetes.io/part-of: nlx
      app.kubernetes.io/instance: "{{ nlx_instance }}"
  template:
    metadata:
      name: dex
      labels: {{ _labels }}
      annotations:
        config-version: "{{ nlx_dex_config.result.metadata.resourceVersion }}"
    spec:
      containers:
        - name: dex
          image: "{{ nlx_dex_image }}"
          args: ["serve", "/config/config.yml"]

          resources:
            requests:
              memory: {{ nlx_dex_resource_requests.memory|default('50Mi') }}
              cpu: {{ nlx_dex_resource_requests.cpu|default('10m') }}
            limits:
              memory: {{ nlx_dex_resource_limits.memory|default('300Mi') }}
              cpu: {{ nlx_dex_resource_limits.cpu|default('200m') }}

          livenessProbe:
            tcpSocket:
              port: 5556
          readinessProbe:
            tcpSocket:
              port: 5556

          volumeMounts:
            - name: config
              mountPath: /config

      volumes:
        - name: config
          configMap:
            name: "nlx-dex-{{ nlx_instance }}"
