---

apiVersion: apps/v1
kind: Deployment
metadata:
  labels: {{ _labels }}
spec:
  replicas: {{ nlx_management_ui_replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: management-ui
      app.kubernetes.io/part-of: nlx
      app.kubernetes.io/instance: "{{ nlx_instance }}"
  template:
    metadata:
      name: management-ui
      labels: {{ _labels }}
    spec:
      securityContext:
        fsGroup: 1001
      containers:
        - name: management-ui
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
          image: "{{ nlx_management_ui_image }}"
          imagePullPolicy: Always

          ports:
            - name: http
              containerPort: 8080
              protocol: TCP

          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http

          resources:
            requests:
              memory: "10Mi"
              cpu: "10m"
            limits:
              memory: "400Mi"
              cpu: "500m"

          env:
            - name: LISTEN_ADDRESS
              value: "0.0.0.0:8080"
            - name: MANAGEMENT_API_URL
              value: http://nlx-management-api-{{ nlx_instance }}:8080
