---

kind: Service
apiVersion: v1
metadata:
  labels: {{ _labels }}
spec:
  selector:
    app.kubernetes.io/name: outway
    app.kubernetes.io/part-of: nlx
  ports:
  - name: http
    protocol: TCP
    port: 8080
    targetPort: 8080
