---

container_default_behavior: no_defaults
name: "{{ django_app_docker_name_prefix }}-flower"
image: "{{ django_app_docker_image | mandatory }}"
command: ["/celery_flower.sh"]
hostname: "{{ django_app_docker_name_prefix }}-flower"
state: started
pull: yes  # always pull
restart: "{{ _django_app_docker_env_file.changed }}"
restart_policy: always
{% include 'networks.yml.j2' %}

privileged: no
log_driver: json-file
log_options:
  max-size: 10m
  max-file: '10'

labels: {{ django_app_docker_labels }}  

{% include 'volumes.yml.j2' %}
{% include 'container-env.yml.j2' %}

published_ports:
{% if _django_app_docker_container_info_flower.exists %}
  - "127.0.0.1:{{ _django_app_docker_container_info_flower['container']['HostConfig']['PortBindings']['5555/tcp'][0]['HostPort'] }}:5555"
{% else %}
  - "127.0.0.1:{{ _django_app_docker_freeports.stdout_lines | first }}:5555"
{% endif %}

comparisons:
  env: strict
  volumes: strict
