{# Super convoluted because of pending 2.0.0 changes and warnings. Essentially, this
binds containers ONLY to the app network. -#}
networks:
  - name: "{{ django_app_docker_name_prefix }}"
network_mode: "{{ django_app_docker_name_prefix }}"
purge_networks: true
networks_cli_compatible: true
