---

container_default_behavior: no_defaults
name: "{{ django_app_docker_name_prefix }}-redis"
image: "{{ django_app_docker_cache_image }}"
hostname: "{{ django_app_docker_name_prefix }}-redis"
pull: no  # only pull when missing
restart: no
restart_policy: always
{% include 'networks.yml.j2' %}

privileged: no
log_driver: json-file
log_options:
  max-size: 10m
  max-file: '10'
